@import "tailwindcss";

@theme {
	/* Brand colors */
	--color-brand-main: #18ace9;
	--color-brand-main-light: #3ad0f5;
	--color-brand-sub: #f495ea;

	/* Font family */
	--font-family-sans: var(--font-jost), var(--font-noto-sans-jp), "Jost",
		"Noto Sans JP", "Noto Sans", sans-serif;
}

.brand-border {
	--rb-color-1: var(--color-brand-main);
	--rb-color-2: #6adefc;
	--rb-color-3: #f495ea;
	--rb-border-width: 5px;
	border: double var(--rb-border-width) transparent;
	background-image: linear-gradient(#ffffff, #ffffff),
		conic-gradient(
			var(--rb-color-1) 0deg 40deg,
			var(--rb-color-2) 40deg 80deg,
			var(--rb-color-3) 80deg 120deg,
			var(--rb-color-1) 120deg 160deg,
			var(--rb-color-2) 160deg 200deg,
			var(--rb-color-3) 200deg 240deg,
			var(--rb-color-1) 240deg 280deg,
			var(--rb-color-2) 280deg 320deg,
			var(--rb-color-3) 320deg 360deg
		);
	background-origin: border-box;
	background-clip: padding-box, border-box;
}

@media (min-width: 640px) {
	.brand-border {
		--rb-border-width: 7px;
	}
}
